<!-- views/partials/_header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="/urls">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            TinyApp!
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/urls">Home</a></li>
<!--            <li><a href="/about">About</a></li>  -->
        </ul>
    </div>
    <% if (username) { %>
        <div>
            <p>Welcome, <%= username %> !</p>
            <form action="/logout" method="POST"><button name="button">Logout</button></form></td>
        </div>
    <% } else { %>
        <div>
            <form action="/login" method="POST">
                <label for="username-field">Username:</label>
                <input id="username-field" name="username">
            </form>
        </div>
    <% } %>







</div>
</nav>