<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/_head %>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
    <h2>Registration Confirmation</h2>
      <p>Is the following correct?</p>
        <table>
      <thead>
        <tr>
          <th>Your email address</th>
          <th>Your user id</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= key %></td>
          <td><%= urlDatabase[key] %></td>
          <td><form method="POST" action="/urls/<%= key %>/delete"><a href="/urls/<%= key %>">Edit</a><button name="button">Change</button></form></td>
        </tr>
      </tbody>
    </table>
<footer>
    <% include ./partials/_footer %>
</footer>
</body>
</html>