<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/_head %>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <h1>The short URL and the long URL</h1>
    <p>Short URL: <%= shortUrl %></p>
    <form method="POST" action="/urls/<%= shortUrl %>">
      <label for="longUrl"></label>
      <input id="longUrl" type="text" name="longUrl" placeholder="<%= longUrl %>">
      <input type="submit" value="Update">
    </form>
  <a href="/urls/new">Shorten another URL</a>
<footer>
  <% include ./partials/_footer %>
</footer>
</body>
</html>