<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/_head %>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <h1>Long URL and its short form</h1>
    <p><%= longUrl %> - <%= shortUrl %> </p>
  <a href="deadlink">Shorten another URL</a>
<footer>
  <% include ./partials/_footer %>
</footer>
</body>
</html>